mark.satu{
    color: #CE7474;
    background-color: white;
}

hr.dua{
    border-style: solid;
}

h1.tiga{
    color: #CE7474;
    text-align: center;
    margin-bottom: 30px;
}

h3.empat{
    text-align: center;
    margin-top: 100px;
}
