h3.satu{
    margin-top: 80px;
    color: #AF4D4D;
}

h6.dua{
    color: #CE7474;
}

hr.tiga{
    width: 40px;
    margin-left: 60px;
    margin-top: -16px;
}

h6.empat{
    color: #F4D6D8;
    margin-left: 118px;
    margin-top: -28px;
}

hr.lima{
    width: 40px;
    margin-left: 213px;
    margin-top: -15px;
}

h6.enam{
    color: #F4D6D8;
    margin-left: 270px;
    margin-top: -27px;
}

h5.mt-4{
    color: #CE7474;
}

.atas{
    margin-left: 30px;
}

.kaki{
    margin-left: 20px;
    font-size: 90px;
    margin-top: 30px;
    color: white;
}

#jasa{
    color: #AF4D4D;
}

.garis{
    width: 535px;
}
